parameters:
    bootstrap: %currentWorkingDirectory%/tests/autoload.php
    excludes_analyse:
        - %currentWorkingDirectory%/src/Resources/views/Form/*html.php
        - %currentWorkingDirectory%/tests/autoload.php
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:#'
        - '#Cannot call method on Symfony\Component\Config\Definition\Builder\NodeParentInterface|null.#'
