<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" colors="true" bootstrap="tests/autoload.php" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="FOSCKEditorBundle Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>installation</group>
      <group>proxy</group>
    </exclude>
  </groups>
  <source>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./src/Resources</directory>
      <directory>./tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </source>
</phpunit>
